@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot") format("embedded-opentype"),
    url("fonts/icomoon.ttf") format("truetype"),
    url("fonts/icomoon.woff") format("woff"),
    url("fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lineui-clipboard:before {
  content: "\e9bb";
}
.lineui-clipboard-import:before {
  content: "\e9bc";
}
.lineui-clipboard-text:before {
  content: "\e9bd";
}
.lineui-clipboard-tick:before {
  content: "\e9be";
}
.lineui-clock:before {
  content: "\e9bf";
}
.lineui-clock-1:before {
  content: "\e9c0";
}
.lineui-close-circle:before {
  content: "\e9c1";
}
.lineui-close-square:before {
  content: "\e9c2";
}
.lineui-cloud:before {
  content: "\e9c3";
}
.lineui-cloud-add:before {
  content: "\e9c4";
}
.lineui-cloud-change:before {
  content: "\e9c5";
}
.lineui-cloud-connection:before {
  content: "\e9c6";
}
.lineui-cloud-cross:before {
  content: "\e9c7";
}
.lineui-cloud-drizzle:before {
  content: "\e9c8";
}
.lineui-cloud-fog:before {
  content: "\e9c9";
}
.lineui-cloud-lightning:before {
  content: "\e9ca";
}
.lineui-cloud-minus:before {
  content: "\e9cb";
}
.lineui-cloud-notif:before {
  content: "\e9cc";
}
.lineui-cloud-plus:before {
  content: "\e9cd";
}
.lineui-cloud-remove:before {
  content: "\e9ce";
}
.lineui-cloud-snow:before {
  content: "\e9cf";
}
.lineui-cloud-sunny:before {
  content: "\e9d0";
}
.lineui-code:before {
  content: "\e9d1";
}
.lineui-code-1:before {
  content: "\e9d2";
}
.lineui-code-circle:before {
  content: "\e9d3";
}
.lineui-coffee:before {
  content: "\e9d4";
}
.lineui-coin:before {
  content: "\e9d5";
}
.lineui-coin-1:before {
  content: "\e9d6";
}
.lineui-colorfilter:before {
  content: "\e9d7";
}
.lineui-colors-square:before {
  content: "\e9d8";
}
.lineui-color-swatch:before {
  content: "\e9d9";
}
.lineui-command:before {
  content: "\e9da";
}
.lineui-command-square:before {
  content: "\e9db";
}
.lineui-component-1:before {
  content: "\e9dc";
}
.lineui-computing:before {
  content: "\e9dd";
}
.lineui-convert:before {
  content: "\e9de";
}
.lineui-convert-3d-cube:before {
  content: "\e9df";
}
.lineui-convertshape:before {
  content: "\e9e0";
}
.lineui-convertshape-2:before {
  content: "\e9e1";
}
.lineui-copy:before {
  content: "\e9e2";
}
.lineui-copyright:before {
  content: "\e9e3";
}
.lineui-copy-success:before {
  content: "\e9e4";
}
.lineui-courthouse:before {
  content: "\e9e5";
}
.lineui-cpu-charge:before {
  content: "\e9e6";
}
.lineui-crop:before {
  content: "\e9e7";
}
.lineui-crown:before {
  content: "\e9e8";
}
.lineui-crown-1:before {
  content: "\e9e9";
}
.lineui-cup:before {
  content: "\e9ea";
}
.lineui-danger:before {
  content: "\e9eb";
}
.lineui-data:before {
  content: "\e9ec";
}
.lineui-data-2:before {
  content: "\e9ed";
}
.lineui-cpu:before {
  content: "\e9ee";
}
.lineui-cpu-setting:before {
  content: "\e9ef";
}
.lineui-creative-commons:before {
  content: "\e9f0";
}
.lineui-chrome:before {
  content: "\e984";
}
.lineui-clipboard-close:before {
  content: "\e985";
}
.lineui-buliding:before {
  content: "\e986";
}
.lineui-bus:before {
  content: "\e987";
}
.lineui-buy-crypto:before {
  content: "\e988";
}
.lineui-cake:before {
  content: "\e989";
}
.lineui-calculator:before {
  content: "\e98a";
}
.lineui-calendar:before {
  content: "\e98b";
}
.lineui-calendar-1:before {
  content: "\e98c";
}
.lineui-calendar-2:before {
  content: "\e98d";
}
.lineui-calendar-add:before {
  content: "\e98e";
}
.lineui-calendar-circle:before {
  content: "\e98f";
}
.lineui-calendar-edit:before {
  content: "\e990";
}
.lineui-calendar-remove:before {
  content: "\e991";
}
.lineui-calendar-search:before {
  content: "\e992";
}
.lineui-calendar-tick:before {
  content: "\e993";
}
.lineui-call:before {
  content: "\e994";
}
.lineui-call-add:before {
  content: "\e995";
}
.lineui-call-calling:before {
  content: "\e996";
}
.lineui-call-incoming:before {
  content: "\e997";
}
.lineui-call-minus:before {
  content: "\e998";
}
.lineui-call-outgoing:before {
  content: "\e999";
}
.lineui-call-received:before {
  content: "\e99a";
}
.lineui-call-remove:before {
  content: "\e99b";
}
.lineui-call-slash:before {
  content: "\e99c";
}
.lineui-camera:before {
  content: "\e99d";
}
.lineui-camera-slash:before {
  content: "\e99e";
}
.lineui-candle:before {
  content: "\e99f";
}
.lineui-candle-2:before {
  content: "\e9a0";
}
.lineui-car:before {
  content: "\e9a1";
}
.lineui-card:before {
  content: "\e9a2";
}
.lineui-card-add:before {
  content: "\e9a3";
}
.lineui-card-coin:before {
  content: "\e9a4";
}
.lineui-card-edit:before {
  content: "\e9a5";
}
.lineui-card-pos:before {
  content: "\e9a6";
}
.lineui-card-receive:before {
  content: "\e9a7";
}
.lineui-card-remove:before {
  content: "\e9a8";
}
.lineui-card-remove-1:before {
  content: "\e9a9";
}
.lineui-cards:before {
  content: "\e9aa";
}
.lineui-card-send:before {
  content: "\e9ab";
}
.lineui-card-slash:before {
  content: "\e9ac";
}
.lineui-card-tick:before {
  content: "\e9ad";
}
.lineui-card-tick-1:before {
  content: "\e9ae";
}
.lineui-category:before {
  content: "\e9af";
}
.lineui-category-2:before {
  content: "\e9b0";
}
.lineui-cd:before {
  content: "\e9b1";
}
.lineui-chart:before {
  content: "\e9b2";
}
.lineui-chart-1:before {
  content: "\e9b3";
}
.lineui-chart-2:before {
  content: "\e9b4";
}
.lineui-chart-3:before {
  content: "\e9b5";
}
.lineui-chart-21:before {
  content: "\e9b6";
}
.lineui-chart-square:before {
  content: "\e9b7";
}
.lineui-chart-success:before {
  content: "\e9b8";
}
.lineui-check:before {
  content: "\e9b9";
}
.lineui-clipboard-export:before {
  content: "\e9ba";
}
.lineui-blend:before {
  content: "\e900";
}
.lineui-bluetooth:before {
  content: "\e901";
}
.lineui-bluetooth-2:before {
  content: "\e902";
}
.lineui-bluetooth-circle:before {
  content: "\e903";
}
.lineui-bluetooth-rectangle:before {
  content: "\e904";
}
.lineui-blur:before {
  content: "\e905";
}
.lineui-book:before {
  content: "\e906";
}
.lineui-book-1:before {
  content: "\e907";
}
.lineui-bookmark:before {
  content: "\e908";
}
.lineui-bookmark-2:before {
  content: "\e909";
}
.lineui-book-saved:before {
  content: "\e90a";
}
.lineui-book-square:before {
  content: "\e90b";
}
.lineui-box:before {
  content: "\e90c";
}
.lineui-box-1:before {
  content: "\e90d";
}
.lineui-box-2:before {
  content: "\e90e";
}
.lineui-box-add:before {
  content: "\e90f";
}
.lineui-box-remove:before {
  content: "\e910";
}
.lineui-box-search:before {
  content: "\e911";
}
.lineui-box-tick:before {
  content: "\e912";
}
.lineui-box-time:before {
  content: "\e913";
}
.lineui-briefcase:before {
  content: "\e914";
}
.lineui-brifecase-cross:before {
  content: "\e915";
}
.lineui-brifecase-tick:before {
  content: "\e916";
}
.lineui-brifecase-timer:before {
  content: "\e917";
}
.lineui-broom:before {
  content: "\e918";
}
.lineui-brush:before {
  content: "\e919";
}
.lineui-brush-1:before {
  content: "\e91a";
}
.lineui-brush-2:before {
  content: "\e91b";
}
.lineui-brush-3:before {
  content: "\e91c";
}
.lineui-bubble:before {
  content: "\e91d";
}
.lineui-bucket-circle:before {
  content: "\e91e";
}
.lineui-bucket-square:before {
  content: "\e91f";
}
.lineui-building:before {
  content: "\e920";
}
.lineui-building-3:before {
  content: "\e921";
}
.lineui-building-4:before {
  content: "\e922";
}
.lineui-buildings:before {
  content: "\e923";
}
.lineui-buildings-2:before {
  content: "\e924";
}
.lineui-bag-1:before {
  content: "\e925";
}
.lineui-bag-timer:before {
  content: "\e926";
}
.lineui-bank:before {
  content: "\e927";
}
.lineui-barcode:before {
  content: "\e928";
}
.lineui-battery-3full:before {
  content: "\e929";
}
.lineui-battery-charging:before {
  content: "\e92a";
}
.lineui-battery-disable:before {
  content: "\e92b";
}
.lineui-battery-empty:before {
  content: "\e92c";
}
.lineui-battery-empty-1:before {
  content: "\e92d";
}
.lineui-battery-full:before {
  content: "\e92e";
}
.lineui-bezier:before {
  content: "\e92f";
}
.lineui-bill:before {
  content: "\e930";
}
.lineui-bitcoin-card:before {
  content: "\e931";
}
.lineui-bitcoin-convert:before {
  content: "\e932";
}
.lineui-bitcoin-refresh:before {
  content: "\e933";
}
.lineui-blend-2:before {
  content: "\e934";
}
.lineui-arrow:before {
  content: "\e935";
}
.lineui-arrow-square:before {
  content: "\e936";
}
.lineui-arrow-square-right:before {
  content: "\e937";
}
.lineui-arrow-square-up:before {
  content: "\e938";
}
.lineui-arrow-swap-horizontal:before {
  content: "\e939";
}
.lineui-arrow-up:before {
  content: "\e93a";
}
.lineui-arrow-up-1:before {
  content: "\e93b";
}
.lineui-arrow-up-2:before {
  content: "\e93c";
}
.lineui-arrow-up-3:before {
  content: "\e93d";
}
.lineui-attach-circle:before {
  content: "\e93e";
}
.lineui-attach-square:before {
  content: "\e93f";
}
.lineui-audio-square:before {
  content: "\e940";
}
.lineui-autobrightness:before {
  content: "\e941";
}
.lineui-award:before {
  content: "\e942";
}
.lineui-back-square:before {
  content: "\e943";
}
.lineui-backward:before {
  content: "\e944";
}
.lineui-backward-5-seconds:before {
  content: "\e945";
}
.lineui-backward-10-seconds:before {
  content: "\e946";
}
.lineui-backward-15-seconds:before {
  content: "\e947";
}
.lineui-backward-item:before {
  content: "\e948";
}
.lineui-bag:before {
  content: "\e949";
}
.lineui-bag-cross:before {
  content: "\e94a";
}
.lineui-bag-cross-1:before {
  content: "\e94b";
}
.lineui-bag-happy:before {
  content: "\e94c";
}
.lineui-bag-tick:before {
  content: "\e94d";
}
.lineui-bag-tick-2:before {
  content: "\e94e";
}
.lineui-archive:before {
  content: "\e94f";
}
.lineui-arrange-circle:before {
  content: "\e950";
}
.lineui-arrange-circle-2:before {
  content: "\e951";
}
.lineui-arrange-square:before {
  content: "\e952";
}
.lineui-arrange-square-2:before {
  content: "\e953";
}
.lineui-arrow-2:before {
  content: "\e954";
}
.lineui-arrow-3:before {
  content: "\e955";
}
.lineui-arrow-bottom:before {
  content: "\e956";
}
.lineui-arrow-circle-down:before {
  content: "\e957";
}
.lineui-arrow-circle-left:before {
  content: "\e958";
}
.lineui-arrow-circle-right:before {
  content: "\e959";
}
.lineui-arrow-down:before {
  content: "\e95a";
}
.lineui-arrow-down-1:before {
  content: "\e95b";
}
.lineui-arrow-down-2:before {
  content: "\e95c";
}
.lineui-arrow-left:before {
  content: "\e95d";
}
.lineui-arrow-left-1:before {
  content: "\e95e";
}
.lineui-arrow-left-2:before {
  content: "\e95f";
}
.lineui-arrow-left-3:before {
  content: "\e960";
}
.lineui-arrow-right:before {
  content: "\e961";
}
.lineui-arrow-right-1:before {
  content: "\e962";
}
.lineui-arrow-right-2:before {
  content: "\e963";
}
.lineui-arrow-right-3:before {
  content: "\e964";
}
.lineui-arrow-square-down:before {
  content: "\e965";
}
.lineui-arrow-square-left:before {
  content: "\e966";
}
.lineui-add:before {
  content: "\e967";
}
.lineui-additem:before {
  content: "\e968";
}
.lineui-add-square:before {
  content: "\e969";
}
.lineui-airdrop:before {
  content: "\e96a";
}
.lineui-airplane:before {
  content: "\e96b";
}
.lineui-airplane-square:before {
  content: "\e96c";
}
.lineui-airpod:before {
  content: "\e96d";
}
.lineui-airpods:before {
  content: "\e96e";
}
.lineui-alarm:before {
  content: "\e96f";
}
.lineui-align-bottom:before {
  content: "\e970";
}
.lineui-align-horizontally:before {
  content: "\e971";
}
.lineui-align-left:before {
  content: "\e972";
}
.lineui-align-right:before {
  content: "\e973";
}
.lineui-align-vertically:before {
  content: "\e974";
}
.lineui-aquarius:before {
  content: "\e975";
}
.lineui-archive-1:before {
  content: "\e976";
}
.lineui-archive-add:before {
  content: "\e977";
}
.lineui-archive-book:before {
  content: "\e978";
}
.lineui-archive-minus:before {
  content: "\e979";
}
.lineui-archive-slash:before {
  content: "\e97a";
}
.lineui-archive-tick:before {
  content: "\e97b";
}
.lineui-3dcube:before {
  content: "\e97c";
}
.lineui-3d-cube-scan:before {
  content: "\e97d";
}
.lineui-3d-rotate:before {
  content: "\e97e";
}
.lineui-3d-square:before {
  content: "\e97f";
}
.lineui-3square:before {
  content: "\e980";
}
.lineui-24-support:before {
  content: "\e981";
}
.lineui-activity:before {
  content: "\e982";
}
.lineui-add-circle:before {
  content: "\e983";
}
