/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* Flaticon */
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");

body {
  background-color: #0C1024 !important;
  color: #ffffff !important;
  font-family: "Space Grotesk", sans-serif !important;
}
.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 40px;
  width: 170px;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cdn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #343a40;
  color: #ffffff;
  border-radius: 15px;
  padding: 0 20px;
  padding-right: 0;
  margin-bottom: 1rem;
  font-family: "Fira Code";
}
.link-cdn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.link-cdn input {
  width: 100%;
  margin-right: 20px;
  background: transparent;
  color: #ffffff;
  outline: none;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.copy-btn {
  background: #1d9143;
  padding: 28px 20px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
.svg-box {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343a40;
  border-radius: 20px;
  margin: 10px 0;
}
.svg-info .svg-box {
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Fira Code", monospace;
}
.svg-box input {
  width: 100%;
  margin-right: 20px;
  background: transparent;
  color: #ffffff;
  outline: none;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.svg-box:hover i {
  color: #28e065;
}
.svg-box i {
  font-size: 28px;
  color: #ffffff;
}
.svg-info .svg-box i {
  font-size: 20px;
  cursor: pointer;
}
.svg-info {
  display: none;
}
.svg-info.visible {
  display: block;
}
textarea {
  resize: none !important;
  width: 100%;
  outline: none;
  border: none;
}
textarea:focus {
  outline: none;
}

.alrt {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.svg-box.tag-box {
  position: relative;
  overflow: hidden;
}
.ico-alert {
  position: absolute;
  top: 0;
  font-size: 10px;
  right: 40%;
  color: white;
  background-color: green;
  padding: 5px 20px 5px 20px;
  border-radius: 0 0 5px 5px;
  display: none;
}
.alrt-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alrt-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
